header{
  width:100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  width:500px;
  height:auto;
}

nav {
  width:40%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap:20px;
  list-style: none;
}

