@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

$font-main: 'Lato', sans-serif;
$font-nav: 'Sono', sans-serif;
$main-color-text: #515031;
$font-title: 'Sono', sans-serif;

#root {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family:$font-main;
}

p, ul, li {
  color: $main-color-text;
}
a{
  color:#515031;
}

a:visited{
  color:#515031;
}

header{
  width:100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:4rem;
  border: solid 5px #f0e7e2;
  border-radius: 20% 20% 0 0   ;
  box-sizing: border-box;
}

.logo {
  width:100%;
  height:auto;
}

.main__content {
  width:100%;
  margin-bottom: 5rem;
  padding:1rem;
  background-color:#f0e7e2;
  box-sizing: border-box;
}

nav ul {
  font-family: $font-nav;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin:1rem;
  padding:0;
  gap: calc(2vw + 1rem);
  cursor:pointer;
}

nav a {
  color: #bf9e8f;
}

nav a:visited {
  color: #bf9e8f;
}

nav ul li a{
  position:relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4px;
  width: 0;
  height: 2px;
  background: rgba(81, 80, 49, 0.5);
  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

a {
  text-decoration: none;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: start;
  justify-items: center;
  padding:2rem;
}

.project__card {
  position:relative;
  width:100%;
  max-width:350px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.project__card img {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius: inherit;
  object-fit: cover;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.project__card img.front {
  position: relative;
  opacity: 1;
  z-index: 2;
  transform: scale(1);
}

.project__card img.back {
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}
.project__card:hover img.front {
  opacity: 0;
  transform: scale(1.05);
}

.project__card:hover img.back {
  opacity: 1;
  transform: scale(1.05);
  pointer-events:auto;
}

.slideShow__gallery{
    width:100%;
    margin-top:30px;
    position:relative;
    display: block;
    aspect-ratio: 3 / 2;
    overflow: hidden;  
    .slideShow__img{
        width:80%;
        object-fit: cover;
        border-radius: 25px;
        margin: 0 auto;
        display:block;
    }
    .slideShow__btn{
        all: unset;
        position:absolute;
        top:0;
        bottom:0;
        padding: 1rem;
        cursor:pointer;
    }   
    .slideShow__btn.left{
        left : 0;
    }
    .slideShow__btn.right{
        right:0;
    } 
    .slideShow__index{
        position:absolute;
        padding:1rem;
        bottom:0;
        left:0;
        right:0;
        margin:0 auto;
        width:max-content;
        color:white;
    }
}

.project__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.link__return {
  color : #515031;
}
.link__return:visited {
  color : #515031;
}

h1{
  margin-block:0;
  font-size:1.5rem;
  color:#515031;
  font-family: $font-title;
}

.project-details__container {
  text-align: left;
  
}
.project-details__container ul{
  list-style-type: circle;
  padding-left: 1.2rem;
  margin-left: 0;
}

.project-details__container ul li{
  margin-bottom: 1.5rem;
}

.project-details__container ul li:last-child {
  margin-bottom: 0;
}

.project-details__container ul li::marker {
  color: #3d4b65;        
}

h2.section__title{
  margin-block:0.2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-title;
  color:#515031;
  border-bottom:#bf9e8f dotted 1px;
}

h2.section__title.experience,
h2.section__title.gallery{
  margin-block: 1rem;
  padding-block: 1rem;
}

h3.experience__block__title{
  text-align: center;
  color:#a46844;
  font-size:1.1rem;
  font-family: $font-title;
}

.project__data {
  margin-top:1.5rem;
  display:flex;
  gap:0.5rem;
  align-items: stretch;
  padding:0.5rem;
}

.tech-icons {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.icon {
  font-size: 2rem;
  color: #515031;
}

.project__infos {
  line-height: 1.5rem;;
}

.project__infos,
.project__missions {
  display:flex;
  flex: 1;
  flex-direction: column;
  background-color: #f9f5ec;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 2px 2px 6px;
  border-radius: 10px;
  padding:0.5rem;
}

.project__experience {
  display: flex;
  background-color: #f9f5ec;
  border-radius: 10px;
}

.experience__block {
  width:30%;
  margin:0.5rem;
  padding: 0.5rem;
  line-height:1.5;
  letter-spacing: 0.02em;
  border-right: 1px dotted #bf9e8f;
  background-color: white;
  text-align: justify;
}

.experience__block:last-child{
  border-right:none;
}

.experience__block ul{
  margin-top:2rem;
  padding: 1rem;
  width: fit-content;
}

.project__gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.about__container ul{
  list-style: none;
  padding:0;
  margin-top:1.2rem;
  margin-bottom:2rem;
}

.about__keywords {
  display:flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  gap:2rem;
  justify-content: center;
  text-transform: uppercase;
}
.about__keywords li {
  width:25%;
  background-color: #bf9e8f;
  color: #515031;
  padding: 5rem 1.5rem;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 8px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  cursor: default;
}

.about__keywords li:hover {
  background-color: #f0e7e2;
  box-shadow: none;
}

.tooltip-container {
  position: relative;
  cursor: help;
}

.tooltip-container:hover {
  color: transparent;
}

.tooltip-text {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  text-transform: none;
  width: 100%;
  height:100%;
  background-color: #f9f5ec;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 10;
  border-radius: inherit;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  color: #515031;
}

.about__container p {
  font-size: 1.2rem;
  margin-top: 2rem;
  background-color: #f9f5ec;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 2px 2px 6px;
}

.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #bf9e8f;
  border: none;
  border-radius: 50%;
  padding: 0.8rem;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.scroll-to-top:hover {
  background-color: #7b7444;
}

.scroll-to-top img {
  width: 1.5rem;
  height: 1.5rem;
}
